/* Se você estiver usando Tailwind CSS, mantenha estas diretivas.
   Caso contrário, pode removê-las e adicionar seus próprios estilos base. */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
  /* Paleta de Cores da Aplicação */
  --color-primary: #FF4C5B;
  --color-primary-dark: #114A70;
  --color-accent: #81000B;
  --color-neutral-dark: #49263E;
  --color-background-dark: #21111D;

  --color-text-primary: #1D1D1B;
  --color-text-secondary: #808080;

  --color-white: #FFFFFF;
  --color-black: #000000;
}

body {
  color: var(--color-text-primary);
  background-color: var(--color-white);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.especial-gradient {
  @apply font-extrabold bg-gradient-to-r from-blue-500 to-pink-500 bg-clip-text text-transparent;
}

.btn-home {
  @apply inline-block mt-6 bg-white text-black px-10 py-3 text-sm font-bold rounded-[5px];
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
}

.list-icon {
  @apply list-none pl-6 bg-no-repeat bg-left;
  background-image: url('/list-icon.svg');
  background-size: 16px 16px;
}



